html, body {
  font-family: proxima-nova, sans-serif;
  font-size: 1.1em;
  height: 100%;
  width: 100%;
  text-align: center;
}

header {
  margin: 100px 0px 0px 0px;
}

h1 {
  font-size: 2.6em;
}

.white {
  color: white;
}

#sign-up {
  height: 180px;
  margin: 100px auto;
  width: 500px;
  z-index: 10;
  background: white;
}

#fields {
  height: auto;
  position: relative;
  width: auto;
}

#form-text {
  height: 130px;
  position: absolute;
  width: 500px;
}

#name, #name-field {
  position: absolute;
  top: 0px;
}

#password, #password-field {
  position: absolute;
  top: 50px;
}

#name {
  top: 10px;
}

#password {
  top: 60px;
}

#name-field, #password-field {
  right: 0px;
}

#gender {
  position: absolute;
  bottom: 5px;
  text-align: left;
  width: 500px;
}

#i-am-a {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#i-am-a-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#join-button {
  margin: 150px 0px 0px 0px;
}

.shadow {
  -moz-box-shadow: 0px 3px 4px #000;
  -webkit-box-shadow: 0px 3px 4px #000;
  box-shadow: 0px 3px 4px #000;
}

.login_form {
  background: black;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0px;
}

#username {
  position: absolute;
  left: 200px;
  top: 10px;
}

#signup-password {
  position: absolute;
  left: 450px;
  top: 10px;
}

#submit-button {
  position: absolute;
  left: 700px;
  top: 10px;
}

#sign-up-button {
  position: absolute;
  left: 800px;
  top: 10px;
}